@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #fff;
}
.home .content {
  z-index: 777;
  width: 70%;
  margin-top: 50px;
  display: none;
}
.home .content.active {
  display: block;
}
.home .content h1 {
  font-size: 4em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 75px;
  margin-bottom: 40px;
}

.home .content h1 span {
  font-size: 1.2em;
  font-weight: 600;
}

.home .content p {
  margin-bottom: 65px;
}

.home .content a {
  background: #000;
  padding: 15px 35px;
  color: #fff;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
  border-radius: 2px;
}

.home .media-icons {
  z-index: 777;
  position: absolute;
  right: 30px;
  display: flex;
  flex-direction: column;
  transition: 0.5s ease;
}
.home .media-icons a {
  color: #000;
  font-size: 1.6em;
  transition: 0.2s ease;
}

.home .media-icons a:not(:last-child) {
  margin-bottom: 20px;
}

.home .media-icons a:hover {
  transform: scale(1.3);
}

.home video {
  z-index: 000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section {
  height: 100vh;
  scroll-snap-align: start;
}
header {
  z-index: 1;

  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 200px;
  transition: 0.5s ease;
}
header .brand {
  color: #000;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
header .navigation {
  position: relative;
}

header .navigation .navigation-items a {
  position: relative;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.3s ease;
}
header .navigation .navigation-items a:before {
  content: '';
  position: absolute;
  background: #fff;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}
header .navigation .navigation-items a:hover:before {
  width: 100%;
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.one {
  background-image: url('keeb.GIF');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: 1;
}
.two {
  background-image: url('electronics2.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: 1;
}
.three {
  background: rgb(fff, fff, fff);
  background-image: url('arduino.GIF');
  z-index: 1;
}
.four {
  background-image: url('makersDay2.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: 1;
}
#preloader {
  z-index: 999;
  background: #fff url(phLoader.gif) no-repeat center;
  background-size: 20%;
  position: absolute;
  height: 100vh;
  width: 100%;
}
.content h1 {
  font-size: 4em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 75px;
  margin-bottom: 40px;
}
.content {
  position: relative;
  width: 80%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 10%;
}

.media-icons {
  filter: invert(100%);
  margin-top: 45%;
  z-index: 777;
  position: absolute;
  right: 30px;
  display: flex;
  flex-direction: column;
  transition: 0.5s ease;
}

.media-icons a {
  color: #000;
  font-size: 1.6em;
  transition: 0.2s ease;
}

.media-icons a:not(:last-child) {
  margin-bottom: 20px;
}

.media-icons a:hover {
  transform: scale(1.3);
}

#white {
  background-color: #000;
  color: #fff;
}
#second {
  margin-top: -3%;
  width: 30%;
  color: #fff;
}
#three {
  background-color: #000;
  color: #fff;
}
#short {
  background-color: #000;
  color: #fff;
  width: 52%;
}

#vise {
  background-color: #000;
  color: rgb(133, 133, 255);
}
@media (max-width: 1040px) {
  .home .content h1 {
    font-size: 1.8em;
    font-weight: 1100;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 40px;
    margin-bottom: 10px;
    z-index: 1;
  }
  .home .content p {
    margin-bottom: 40px;
    font-size: 1em;
    font-weight: 700;
  }
  header {
    padding: 12px 20px;
  }

  section {
    padding: 100px 20px;
    z-index: 1;
  }
  .home .media-icons {
    right: 15px;
  }
  .home .content .image {
    display: none;
  }
  header .navigation {
    z-index: 999;
    display: none;
  }

  header .navigation.active {
    z-index: 888;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1, 1, 1, 0.5);
  }

  header .navigation .navigation-items a {
    z-index: 999;
    color: #000;
    font-size: 1.2em;
    margin: 20px;
  }

  header .navigation .navigation-items a:before {
    z-index: 999;
    background: #000;
    height: 5px;
  }

  header .navigation .navigation-items {
    z-index: 999;
    background: #fff;
    width: 600px;
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 /20%);
  }

  .menu-btn {
    z-index: 999;
    background: url(menu.png) no-repeat;
    filter: invert(100%);
    background-size: 50px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .menu-btn.active {
    z-index: 999;
    background: url(close.png) no-repeat;
    background-size: 25px;
    background-position: center;
    transition: 0.2s ease;
  }
  .container img {
    margin-top: -170px;
  }
  .menu-btn {
    margin-top: -170px;
  }
  .content h1 {
    margin-top: -200px;
  }
}
@media (max-width: 900px) {
  .content h1 {
    font-size: 30px;
    margin-top: -100px;
    letter-spacing: 5px;
    line-height: 40px;
  }
  .content p {
    font-size: 10px;
  }
  #visevise {
    font-size: 40%;
  }

  .container img {
    margin-top: -170px;
  }
  .menu-btn {
    margin-top: -170px;
  }
}
